.newsletter {
    grid-area: newsletter;
    position: relative;
    transform: translateY(-50%);
    border-radius: 20px;
    margin: var(--margin-auto);
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    gap: 32px;
    min-height: 190px;
    height: 200%;
    max-height: 298px;
  }
  .newsletter > .inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }